<div class="full-width-video-block">
  <div class="video-title-container">
    <h2 class="video-title">{{ video_title }}</h2>
  </div>
  <video class="full-width-video" src="{{ video_url }}" autoplay loop muted playsinline></video>
</div>
